---
import Link from "./icons/Link.astro";
import GitHub from "./icons/GitHub.astro";
import Nextjs from "./icons/Nextjs.astro";
import Angular from "./icons/Angular.astro";
import Reactjs from "./icons/React.astro";
import Express from "./icons/Express.astro";
import Nestjs from "./icons/Nestjs.astro";
import Typescript from "./icons/Typescript.astro";
import Tailwind from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import Postgresql from "./icons/Postgresql.astro";
import Prisma from "./icons/Prisma.astro";
import MongoDB from "./icons/Mongodb.astro";
import Stripe from "./icons/Stripe.astro";

const TAGS = {
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#007ACC] text-white",
    icon: Typescript,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Nextjs,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#007ACC] text-white",
    icon: Reactjs,
  },
  NEST: {
    name: "Nest.js",
    class: "bg-[#E0234E] text-white",
    icon: Nestjs,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PRISMA: {
    name: "Prisma",
    class: "bg-[#2D3748] text-white",
    icon: Prisma,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white",
    icon: Postgresql,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#47B548] text-white",
    icon: MongoDB,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#D11B44] text-white",
    icon: Angular,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#000000] text-white",
    icon: Express,
  },
  STRIPE: {
    name: "Stripe",
    class: "bg-[#9BA1DE] text-white",
    icon: Stripe,
  },
};

const PROJECTS = [
  {
    title: "LoMobility",
    description:
      "Innovadora iniciativa que busca empoderar a los ciudadanos para mejorar la accesibilidad en entornos urbanos",
    link: "http://herraduramasproquo.com",
    image: "/projects/lomobility.webp",
    tags: [
      TAGS.NEXT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.PRISMA,
      TAGS.POSTGRESQL,
    ],
  },
  {
    title: "Clon de Discord",
    description:
      "Clon Fullstack de Discord: Next.js 14, TypeScript, PostgreSQL, Socket.io, Prisma, Tailwind",
    link: "",
    github: "https://github.com/psuarezdev/discord-clone",
    image: "/projects/discord-clone.webp",
    tags: [
      TAGS.NEXT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.PRISMA,
      TAGS.POSTGRESQL,
    ],
  },
  {
    title: "Clon de Airbnb",
    description:
      "Clon Fullstack de Airbnb: React.js, Nest,js, TypeScript, MongoDB, Prisma, Tailwind",
    link: "",
    github: "https://github.com/psuarezdev/airbnb-clone",
    image: "/projects/airbnb-clone.webp",
    tags: [
      TAGS.REACT,
      TAGS.NEST,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.PRISMA,
      TAGS.MONGODB,
    ],
  },
  {
    title: "Clon de Reddit",
    description:
      "Clon Fullstack de Reddit: Next.js 14, TypeScript, PostgreSQL, TanStack Query, Prisma, Tailwind, Redis",
    link: "",
    github: "https://github.com/psuarezdev/reddit-clone",
    image: "/projects/reddit-clone.webp",
    tags: [
      TAGS.NEXT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.PRISMA,
      TAGS.POSTGRESQL,
    ],
  },
  {
    title: "Angular E-Commerce",
    description:
      "Fullstack E-Commerce: Angular, Express.js, MongoDB, Mongoose, Stripe and TailwindCSS",
    link: "",
    github: "https://github.com/psuarezdev/angular-ecommerce",
    image: "/projects/angular-ecommerce.webp",
    tags: [
      TAGS.ANGULAR,
      TAGS.EXPRESS,
      TAGS.STRIPE,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.MONGODB,
    ],
  },
];
---

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-16 gap-x-12 mt-16"
>
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group">
        <div class="w-full lg:w-72">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl rounded-xl sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              class="object-cover object-top w-full h-56 transition duration-500 rounded-lg sm:h-full md:scale-105 hover:md:scale-110"
              loading="lazy"
              src={image}
            />
          </div>
        </div>
        <div class="w-full md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-1 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Código
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
