---
import StackItem from "./StackItem.astro";

import Javascript from "./icons/JavaScript.astro";
import Typescript from "./icons/Typescript.astro";
import Nextjs from "./icons/Nextjs.astro";
import React from "./icons/React.astro";
import Angular from "./icons/Angular.astro";
import AstroBuild from "./icons/AstroBuild.astro";
import Jquery from "./icons/Jquery.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Tailwind from "./icons/Tailwind.astro";

import Express from "./icons/Express.astro";
import Nestjs from "./icons/Nestjs.astro";
import Netframework from "./icons/NetFramework.astro";
import Django from "./icons/Django.astro";
import Laravel from "./icons/Laravel.astro";
import Spring from "./icons/Spring.astro";
import Graphql from "./icons/Graphql.astro";

import MySql from "./icons/MySql.astro";
import Mariadb from "./icons/Mariadb.astro";
import Postgresql from "./icons/Postgresql.astro";
import Oracle from "./icons/Oracle.astro";
import SQLServer from "./icons/SQLServer.astro";
import MongoDB from "./icons/Mongodb.astro";

import Flutter from "./icons/Flutter.astro";
import Ionic from "./icons/Ionic.astro";
import Kotlin from "./icons/Kotlin.astro";
import Tauri from "./icons/Tauri.astro";
import Electron from "./icons/Electron.astro";

const frontend = [
  {
    name: "JavaScript",
    icon: Javascript,
  },
  {
    name: "TypeScript",
    class: "text-[#007acc]",
    icon: Typescript,
  },
  {
    name: "React.js",
    class: "text-[#00D8FF]",
    icon: React,
  },
  {
    name: "Next.js",
    icon: Nextjs,
  },
  {
    name: "Angular",
    icon: Angular,
  },
  {
    name: "Astro",
    icon: AstroBuild,
  },
  {
    name: "jQuery",
    icon: Jquery,
  },
  {
    name: "BootStrap",
    icon: Bootstrap,
  },
  {
    name: "Tailwind",
    icon: Tailwind,
  },
];

const backend = [
  {
    name: "Express.js",
    class: "text-[#000]",
    icon: Express,
  },
  {
    name: "Nest.js",
    class: "text-[#DF234F]",
    icon: Nestjs,
  },
  {
    name: "ASP.NET Core",
    icon: Netframework,
  },
  {
    name: "Django",
    icon: Django,
  },
  {
    name: "Laravel",
    icon: Laravel,
  },
  {
    name: "Spring Boot",
    icon: Spring,
  },
  {
    name: "GraphQL",
    icon: Graphql,
  },
];

const crossPlatform = [
  {
    name: "Flutter",
    icon: Flutter,
  },
  {
    name: "React Native",
    icon: React,
    class: "text-[#00D8FF]",
  },
  {
    name: "Ionic",
    icon: Ionic,
  },
  {
    name: "Kotlin",
    icon: Kotlin,
  },
  {
    name: "Tauri",
    icon: Tauri,
  },
  {
    name: "Electron",
    icon: Electron,
  },
];

const databases = [
  {
    name: "PostgreSQL",
    class: "size-9 lg:size-12 text-[#336791]",
    icon: Postgresql,
  },
  {
    name: "OracleDB",
    class: "size-9 lg:size-12",
    icon: Oracle,
  },
  {
    name: "SQL Server",
    class: "size-9 lg:size-12",
    icon: SQLServer,
  },
  {
    name: "MySQL",
    class: "size-9 lg:size-12",
    icon: MySql,
  },
  {
    name: "MariaDB",
    class: "size-9 lg:size-12",
    icon: Mariadb,
  },
  {
    name: "MongoDB",
    class: "size-9 lg:size-12",
    icon: MongoDB,
  },
];
---

<section
  class="grid lg:grid-cols-3 lg:grid-rows-1 lg:place-content-center gap-6 mx-auto mb-6"
>
  <StackItem title="Front-End" skills={frontend} />
  <StackItem title="Back-End" skills={backend} />
  <StackItem title="Multiplataforma" skills={crossPlatform} />
</section>
<section
  class="grid lg:grid-cols-1 lg:grid-rows-1 lg:place-content-center gap-6 mx-auto mb-6"
>
  <StackItem class="hidden md:block" title="Bases de datos" skillsClass="flex items-center justify-evenly" skills={databases} />
  <StackItem class="md:hidden" title="Bases de datos" skills={databases} />
</section>

<script>
  const gradientArticles = document.querySelectorAll(".gradient-article");

  gradientArticles.forEach((gradientArticle) => {
    const gradientDiv = gradientArticle.querySelector("div");

    if (!gradientDiv) return;

    gradientArticle.addEventListener("mousemove", (event) => {
      const rect = gradientArticle.getBoundingClientRect();

      const e = event as MouseEvent;

      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;

      gradientDiv.style.opacity = "1";
      gradientDiv.style.background = `radial-gradient(600px at ${x}px ${y}px, var(--gradient-article--bg--color), transparent 40%)`;
    });

    gradientArticle.addEventListener("mouseleave", () => {
      gradientDiv.style.opacity = "0";
    });
  });
</script>
